name: build

on:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        java: [ 21, 25 ]
        os: [ 'ubuntu-22.04', 'ubuntu-22.04-arm' ]
    runs-on: ${{ matrix.os }}
    name: Java ${{ matrix.java }} ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'maven'
    - name: Build
      run: mvn -ntp -B clean test
